body{
    color:white;
    text-align: center;
}

header{
    background-color: rgb(8, 196, 8);
    display:grid;
    grid-template-columns: 1fr 3fr;
    height: 50px;
    align-items: center;
}

.menu{
    background-color: rgb(226, 206, 25);
    display:grid;
    height: 50px;
    align-items: center;
}

.content1{
    background-color: rgb(202, 14, 202);
    display:grid;
    height: 400px;
    align-items: center;

}

div{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
}

.content2{
    background-color: rgb(52, 110, 199);
    display:grid;
    height: 200px;
    align-items: center;
}


.content3{
    background-color: rgb(230, 235, 240);
    display:grid;
    height: 200px;
    align-items: center;
}

.image{
    background-color: red;
    display:grid;
    height: 100px;
    align-items: center;
}

.extra{
    background-color: rgb(145, 221, 31);
    display:grid;
    height: 100px;
    align-items: center;
}

footer{
    background-color: blueviolet;
    display:grid;
    height: 50px;
    align-items: center;
}